{
	"AWSTemplateFormatVersion": "2010-09-09",
	"Description": "Defines the target groups used by the static network load balancers to direct traffic to the dynamic stack application load balancers",
	"Resources": {
	#foreach( $targetGroup in $targetGroups )
		#if($foreach.count > 1)
		,
		#end
		"${targetGroup.shortName}": {
			"Type": "AWS::ElasticLoadBalancingV2::TargetGroup",
			"Properties": {
				"IpAddressType": "ipv4",
				"Name": "${targetGroup.fullName}",
				"Port": ${targetGroup.port},
				"Protocol": "TCP",
				"Targets": [
					{
						"Id": {"Ref" : "AWSEBV2LoadBalancer" },
						"Port": ${targetGroup.port}
					}
				],
				"TargetType": "alb",
				"UnhealthyThresholdCount": 2,
				"VpcId": {"Fn::ImportValue": "us-east-1-synapse-${stack}-vpc-2-VPCId"}
			}
		}
	#end
	},
	"Outputs": {
		#foreach( $targetGroup in $targetGroups )
			#if($foreach.count > 1)
				,
			#end
			"${targetGroup.shortName}": {
				"Description": "ARN of the target group: ${targetGroup.fullName}",
				"Value": { "Ref" : "${targetGroup.shortName}" },
				"Export": {
					"Name": {
						"Fn::Join": [
							"-",
						[
						{
							"Ref": "AWS::Region"
						},
						{
							"Ref": "AWS::StackName"
						},
						"${targetGroup.fullName}-alb-target-group"
						]
					]
				}
			}
		}
		#end
	}
}