{
	"AWSTemplateFormatVersion": "2010-09-09",
	"Outputs": {
		"${targetGroup.shortName}": {
			"Description": "ARN of of this stack's ALB",
				"Value": {"Ref" : "AWSEBV2LoadBalancer" },
				"Export": {
					"Name": {
						"Fn::Join": [
							"-",
						[
						{
							"Ref": "AWS::Region"
						},
						"${targetGroup.fullName}-alb-arn"
						]
					]
				}
			}
		}
	}
}