{
	"AWSTemplateFormatVersion": "2010-09-09",
	"Description": "The target group the defines how",
	"Resources": {
		"${stack}${instance}albtarget80": {
			"Type": "AWS::ElasticLoadBalancingV2::TargetGroup",
			"Properties": {
				"HealthCheckEnabled": true,
				"HealthCheckIntervalSeconds": 30,
				"HealthCheckPath": "${environment.healthCheckUrl}",
				"HealthCheckPort": 80,
				"HealthCheckProtocol": "HTTPS",
				"HealthCheckTimeoutSeconds": 10,
				"HealthyThresholdCount": 2,
				"IpAddressType": "ipv4",
				"Matcher": {
					"HttpCode": "200-599"
				},
				"Name": "${stack}${instance}albtarget80",
				"Port": 80,
				"Protocol": "HTTP",
				"ProtocolVersion": "HTTP2",
				"Targets": [
					{
						"Id": {"Ref" : "AWSEBV2LoadBalancer" }
						"Port": 80
					}
				],
				"TargetType": "alb",
				"UnhealthyThresholdCount": 2,
				"VpcId": {"Fn::ImportValue": "us-east-1-synapse-${stack}-vpc-2-VPCId"}
			}
		}
	},
	"Outputs": {
		
	}
}