# See https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environment-resources.html
Resources:
  ELB500HighRateAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "Alarm when high rate of 500 is returned by the load balancer"
      AlarmName: { "Fn::Join" : ["", [{ "Ref" : "AWSEBEnvironmentName" }, "-ELB-500-High-Rate-Alarm" ]]}
      AlarmActions:
        - { "Fn::ImportValue": "${globalResourcesExportPrefix}-NotificationTopic" }
      Namespace: AWS/ApplicationELB
      Dimensions:
        - Name: LoadBalancer
          Value: { "Ref" : "AWSEBV2LoadBalancer" }
      MetricName: HTTPCode_ELB_5XX_Count
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 1
      Threshold: 20
      ComparisonOperator: GreaterThanOrEqualToThreshold