#### See http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/AWSHowTo.cloudwatchlogs.html
packages:
  yum:
    awslogs: []

files:
  "/etc/awslogs/config/logs.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      [/var/log/tomcat8/catalina.out]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/tomcat8/catalina.out"]]}`
      log_stream_name = {instance_id}
      file = /var/log/tomcat8/catalina.out

commands:
  "01":
    command: service awslogs restart
