# See https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environment-resources.html
Resources:
#foreach($alarmConfig in ${loadBalancerAlarms})
  AWSELB${alarmConfig.resourceName}:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "${alarmConfig.description}"
      AlarmName: ${stack}-${instance}-AWS-ELB-${alarmConfig.name}
      AlarmActions:
        - { "Fn::ImportValue": "${globalResourcesExportPrefix}-NotificationTopic" }
      Namespace: AWS/ApplicationELB
      Dimensions:
        - Name: LoadBalancer
          Value: { "Fn::GetAtt" : ["AWSEBV2LoadBalancer", "LoadBalancerFullName"] }
      MetricName: ${alarmConfig.metric}
      Statistic: ${alarmConfig.statistic}
      Period: ${alarmConfig.period}
      EvaluationPeriods: ${alarmConfig.evaluationPeriods}
      Threshold: ${alarmConfig.threshold}
      ComparisonOperator: ${alarmConfig.comparisonOperator}
#end