#### See http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/AWSHowTo.cloudwatchlogs.html
packages:
  yum:
    awslogs: []

files:
  "/etc/awslogs/awscli.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [plugins]
      cwlogs = cwlogs
      [default]
      region = `{"Ref":"AWS::Region"}`

  "/etc/awslogs/awslogs.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [general]
      state_file = /var/lib/awslogs/agent-state

  "/etc/awslogs/config/logs.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |

    #if (${envType} == 'repo')

      [/var/log/tomcat8/catalina.out]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/tomcat8/catalina.out"]]}`
      log_stream_name = {instance_id}
      datetime_format = '%b %d, %Y %I:%M:%S'
      multi_line_start_pattern = '{datetime-format}'
      file = /var/log/tomcat8/catalina.out

      [/var/cache/tomcat8/temp/synapse/logs/repo-services.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/cache/tomcat8/temp/synapse/logs/repo-services.log"]]}`
      log_stream_name = {instance_id}
      datetime_format = '%Y-%m-%dT%H:%M:%S'
      multi_line_start_pattern = '{datetime-format}'
      file = /var/cache/tomcat8/temp/synapse/logs/repo-services.log

      [/var/cache/tomcat8/temp/synapse/logs/repo-trace-profile.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/cache/tomcat8/temp/synapse/logs/repo-trace-profile.log"]]}`
      log_stream_name = {instance_id}
      datetime_format = '%Y-%m-%dT%H:%M:%S'
      multi_line_start_pattern = '{datetime_format}'
      file = /var/cache/tomcat8/temp/synapse/logs/repo-trace-profile.log
    #end

    #if (${envType} == 'workers')

      [/var/log/tomcat8/catalina.out]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/tomcat8/catalina.out"]]}`
      log_stream_name = {instance_id}
      datetime_format = '%b %d, %Y %I:%M:%S'
      multi_line_start_pattern = '{datetime-format}'
      file = /var/log/tomcat8/catalina.out

      [/var/cache/tomcat8/temp/repo-workers/logs/repo-workers.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/cache/tomcat8/temp/repo-workers/logs/repo-workers.log"]]}`
      log_stream_name = {instance_id}
      datetime_format = '%Y-%m-%dT%H:%M:%S'
      multi_line_start_pattern = '{datetime-format}'
      file = /var/cache/tomcat8/temp/repo-workers/logs/repo-workers.log

      [/var/cache/tomcat8/temp/repo-workers/logs/worker-trace-profile.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/cache/tomcat8/temp/repo-workers/logs/worker-trace-profile.log"]]}`
      log_stream_name = {instance_id}
      datetime_format = '%Y-%m-%dT%H:%M:%S'
      multi_line_start_pattern = '{datetime_format}'
      file = /var/cache/tomcat8/temp/repo-workers/logs/worker-trace-profile.log
    #end

    #if (${envType} == 'portal')

      [/var/log/tomcat8/catalina.out]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/tomcat8/catalina.out"]]}`
      log_stream_name = {instance_id}
      datetime_format = '%d-%m-%Y %H:%M:%S'
      multi_line_start_pattern = '{datetime-format}'
      file = /var/log/tomcat8/catalina.out

      [/var/cache/tomcat8/temp/portal/logs/portal.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/cache/tomcat8/temp/portal/logs/portal.log"]]}`
      log_stream_name = {instance_id}
      datetime_format = '%Y-%m-%dT%H:%M:%S'
      multi_line_start_pattern = '{datetime_format}'
      file = /var/cache/tomcat8/temp/portal/logs/portal.log

      [/var/cache/tomcat8/temp/portal/logs/portal-profile.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/cache/tomcat8/temp/portal/logs/portal-profile.log"]]}`
      log_stream_name = {instance_id}
      datetime_format = '%Y-%m-%dT%H:%M:%S'
      multi_line_start_pattern = '{datetime_format}'
      file = /var/cache/tomcat8/temp/portal/logs/portal-profile.log
    #end

commands:
  "01":
    command: chkconfig awslogs on

  "02":
    command: service awslogs restart
