{
	"packages": {
		"yum": {
			"mod_ssl": [
			]
		}
	},
	"files": {
		"/etc/httpd/conf.d/ssl.conf": {
			"mode": "000400",
			"owner": "ec2-user",
			"group": "ec2-user",
			"content": "LoadModule ssl_module modules/mod_ssl.so\nListen 443\n<VirtualHost *:443>\n  <Proxy *>\n    Order deny,allow\n    Allow from all\n  </Proxy>\n  SSLEngine on\n  SSLCertificateFile \"/etc/pki/tls/certs/server.crt\"\n  SSLCertificateKeyFile \"/etc/pki/tls/certs/server.key\"\n  SSLCertificateChainFile \"/etc/pki/tls/certs/gd_bundle.crt\"\n\n  ProxyPass / http://localhost:80/ retry=0\n  ProxyPassReverse / http://localhost:80/\n  ProxyPreserveHost on\n\n  LogFormat \"%h (%{X-Forwarded-For}i) %l %u %t \\\"%r\\\" %>s %b \\\"%{Referer}i\\\" \\\"%{User-Agent}i\\\"\"\n  ErrorLog /var/log/httpd/elasticbeanstalk-error_log\n  TransferLog /var/log/httpd/elasticbeanstalk-access_log\n</VirtualHost>\n"
		},
		"/etc/pki/tls/certs/server.crt": {
			"mode": "000400",
			"owner": "root",
			"group": "root",
			"content": "${certificates.x509CertificatePEM}"
		},
		"/etc/pki/tls/certs/server.key": {
			"mode": "000400",
			"owner": "root",
			"group": "root",
			"content": "${certificates.privateKeyPEM}"
		},
		"/opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh": {
			"mode": "000755",
			"owner": "root",
			"group": "root",
			"content": "#!/usr/bin/env bash\nsudo service httpd restart"
		}
	}
}
