{
	"packages": {
		"yum": {
			"mod_ssl": [
			]
		}
	},
	"Resources": {
		"AWSEBAutoScalingGroup": {
			"Metadata": {
				"AWS::CloudFormation::Authentication": {
					"S3Auth": {
						"type": "s3",
						"buckets": [
							"${s3bucket}"
						],
						"roleName": {
							"Fn::GetOptionSetting": {
								"Namespace": "aws:autoscaling:launchconfiguration",
								"OptionName": "IamInstanceProfile"
							}
						}
					}
				}
			}
		}
	},
	"files": {
		"/etc/pki/tls/certs/server.crt": {
			"mode": "000400",
			"owner": "root",
			"group": "root",
			"authentication": "S3Auth",
			"source": "${certificates.x509CertificateUrl}"
		},
		"/etc/pki/tls/certs/server.key": {
			"mode": "000400",
			"owner": "root",
			"group": "root",
			"authentication": "S3Auth",
			"source": "${certificates.privateKeyUrl}"
		},
		"/opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh": {
			"mode": "000755",
			"owner": "root",
			"group": "root",
			"content": "#!/usr/bin/env bash\nsudo service httpd restart"
		}
	}
}
