{
	"packages":{
		"yum":{
			"mod_ssl": [],
			"mod_security": []
		}
	},
	"files": {
		"/etc/pki/tls/certs/server.crt": {
			"mode": "000400",
			"owner": "root",
			"group": "root",
			"content": ${certificates.jsonEscapedX509CertificatePEM}
		},
		"/etc/pki/tls/certs/server.key": {
			"mode": "000400",
			"owner": "root",
			"group": "root",
			"content": ${certificates.jsonEscapedPrivateKeyPEM}
		},
		"/tmp/update_tomcat_server_xml.sh": {
			"mode": "000400",
			"owner": "root",
			"group": "root",
			"content": ${updateTomcatServerXmlSh}
		}
	},
	"container_commands": {
		    "00" : { "command" : "sh /tmp/update_tomcat_server_xml.sh" },
	        "01" : { "command" : "chmod +x .platform/hooks/postdeploy/01_restart_services.sh" }
	}
}
