{
	"packages":{
		"yum":{
			"mod_ssl": []
		}
	},
	"files": {
		"/etc/pki/tls/certs/server.crt": {
			"mode": "000400",
			"owner": "root",
			"group": "root",
			"content": ${certificates.jsonEscapedX509CertificatePEM}
		},
		"/etc/pki/tls/certs/server.key": {
			"mode": "000400",
			"owner": "root",
			"group": "root",
			"content": ${certificates.jsonEscapedPrivateKeyPEM}
		}
	}
}
