{
	"packages":{
		"yum":{
			"mod24_security": []
		}
	},
	"files": {
		"/etc/pki/tls/certs/server.crt": {
			"mode": "000400",
			"owner": "root",
			"group": "root",
			"content": ${certificates.jsonEscapedX509CertificatePEM}
		},
		"/etc/pki/tls/certs/server.key": {
			"mode": "000400",
			"owner": "root",
			"group": "root",
			"content": ${certificates.jsonEscapedPrivateKeyPEM}
		},
		"/opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh": {
			"mode": "000755",
			"owner": "root",
			"group": "root",
			"content": "#!/usr/bin/env bash\nsudo service httpd restart"
		},
		"/etc/httpd/conf.d/less_server_header.conf":{
			"mode": "000644",
			"owner": "root",
			"group": "root",
			"content": "ServerTokens ProductOnly\nServerSignature Off\n"
		},
		"/etc/httpd/conf.d/mod_security.conf":{
			"mode": "000644",
			"owner": "root",
			"group": "root",
			"content": "<IfModule mod_security2.c>\n    SecServerSignature \"Potato\"\n"
		}
	}
}
